a {
  color: navyblue;
  background-color: blue;
  font-size: 50px;
}

a:hover{
  background-color: orange;
}

header {
  font-size: 100px;
}

body {
  background-color: lime;
  color: green;
  font-size: 50px;
}
footer {
  font-size: 25px;
}

flag {
  what-occupation: is the presentation on;
}

