body {
background-color: lightblue;
color: blue;
font-size: 45px;
}
a {
  background-color: blue;
  color: red;
  font-size: 45px;
}
a:hover {
  background-color: orange;
}
header{
  background-color: lightblue;
  color: blue;
  font-size: 45px;
}
