body {
background-color: lightblue;
color: blue;
text-size: 45px;
}
a {
  background-color: blue;
  color: red;
  text-size: 45px;
}
a:hover {
  background-color: orange;
}
header{
  background-color: lightblue;
  color: blue;
  text-size: 45px;
}
